apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "ecommerce.fullname" . }}-postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp3
  resources:
    requests:
      storage: {{ .Values.postgres.storage }}
