services:
  db-dev:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  backend-dev:
    build: ./ecommerce-backend
    restart: always
    depends_on:
      - db-dev
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db-dev:5432/${POSTGRES_DB}
      FLASK_ENV: development
    ports:
      - "5001:5000"

  frontend-dev:
    build: ./ecommerce-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend-dev


volumes:
  db-data:
