name: CI Build

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build backend image
        run: |
          docker build \
            -f ecommerce-backend/Dockerfile.prod \
            -t ecommerce-backend:test \
            ecommerce-backend

      - name: Build frontend image
        run: |
          docker build \
            -f ecommerce-frontend/Dockerfile.prod \
            -t ecommerce-frontend:test \
            ecommerce-frontend
